.container-sidebar{
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 3.6rem;
  box-shadow: white;
  z-index: 100;
  justify-content: space-around;
  padding: 1.2rem 1.2rem;
}
